' Для продвижения по карьерной лестнице от Junior до Senior разработчика проводится оценка
| технических навыков и личностных качеств.
br
br
' Для каждого уровня должности определен набор технических навыков, которым должен
| соответсвовать разработчик на этой позиции.
br
br
| Для оценки технических навыков используется шкала:
br
| 5 - превосходит ожидания:
br
| добивается успеха применяя навык для решения особо сложных задач;
br
| 4 - соответствует ожиданиям:
br
| успешно применяет навык для решения стандартных и новых рабочих задач;
br
| 3 - требуются улучшения:
br
' успешно применяет навык для решения только стандартных, простых рабочих задач; для решения
| новых задач требуется помощь более опытных коллег;
br
| 0 - не соответствует ожиданиям:
br
| не использует навык в своей работе.
br
br
| Каждую оценку очень важно обосновать примерами из вашего опыта работы с оцениваемым коллегой.
br
' Ваши оценки будут влиять на принятие решения о повышении сотрудника. Мы очень ценим ваши
| честные ответы #communicate-transparently-honestly
br
br
