@import "forms";
@import "navigation";
@import "notifications";
@import "container";
@import "text";
@import "images";

.table-feedbacks {
  font-size: 14px;

  td {
    margin: 2px;
    padding: 2px;
    vertical-align: top;
  }
}
