.top-bar-left
  ul.menu
    li = link_to "HR Tool", root_path
    - if user_signed_in?
      = active_link_to "Сотрудники",
                       users_path,
                       active: :exclusive,
                       wrap_tag: :li

      = active_link_to "Мои оценки",
                       user_assessments_path(current_user),
                       active: :exclusive,
                       wrap_tag: :li

      = active_link_to "Мои приглашения",
                       invites_path,
                       active: :exclusive,
                       wrap_tag: :li

      - if current_user.hr?
        = active_link_to "Навыки",
                         skills_path,
                         active: :exclusive,
                         wrap_tag: :li
